<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appOptions" type="VerificationCodeGenerator.AppOptionsSection, VerificationCodeGenerator" />
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appOptions>
		<properties>
			<add name="ConnectionString" value="Data Source=(localdb)\LocalOne;Initial Catalog=UVS.Database;Integrated Security=True" />
			<add name="MinimumThreadCount" value="2" />
			<add name="MaximumThreadCount" value="15" />
			<add name="MinimumDataLength" value="5" />
			<add name="MaximumDataLength" value="11" />
			<add name="MinimumThreadSleepTime" value="500" />
			<add name="MaximumThreadSleepTime" value="2000" />
			<add name="ThreadItemsCount" value="20" />
		</properties>
	</appOptions>
</configuration>